<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb"
            name="Sourcepit IDE">
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,448,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,225,320,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Sourcepit IDE">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/org.eclipse.platform/eclipse_lg.gif">
         </property>
		  <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
		  </property>
		  <property
				name="applicationCSSResources"
                value="platform:/plugin/org.eclipse.platform/images/">
		  </property>
    <property
          name="startupForegroundColor"
          value="FFFFFF">
    </property>
      </product>
   </extension>

</plugin>
